
#banner{
    padding-bottom: 55px;
    background: url(../../assets/bannerbg.png) no-repeat center / cover;
}
.ban_text{
    padding: 174px 10px 0px 0px;
}
.ban_text h1{
    color: #000;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.8px;
    padding-bottom: 12px;
}

.ban_text p{
    color: #64607D;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; 
    padding-bottom: 26px;
}
.ban_text a{
    margin-right: 50px;
    border: 1px solid #3734A9;
    color: #3734A9;
    padding: 15px 30px;
    border-radius: 10px;
    transition: 0.5s;

}
.ban_text a:hover{
    color: #FFF;
    background-color: #3734A9;
}
.ban_img{
    padding-top: 74px;
}
